@use "variables" as v;

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: v.$contentSpacing;
  box-sizing: border-box;
}

.cardContent {
  display: flex;
  flex-direction: column;
  padding-top: v.$defaultSpacing;
  box-sizing: border-box;
}
