<div class="container">
  <span class="content">
    <h2 class="title">Haftungsausschluss (Disclaimer)</h2>

    <p>Die Inhalte dieser Website wurden mit größtmöglicher Sorgfalt erstellt. Der Websitebetreiber übernimmt jedoch keine Gewähr für die Aktualität, Vollständigkeit und Richtigkeit der bereitgestellten Inhalte. Die Nutzung der Inhalte dieser Website erfolgt auf eigene Gefahr. Namentlich gekennzeichnete Beiträge geben die Meinung des jeweiligen Autors und nicht immer die Meinung des Websitebetreibers wieder.</p>

    <p>Trotz sorgfältiger inhaltlicher Kontrolle schließen wir jegliche Haftung für Schäden aus, die sich direkt oder indirekt aus der Nutzung der Inhalte dieser Website ergeben, soweit diese nicht auf Vorsatz oder grober Fahrlässigkeit des Websitebetreibers beruhen.</p>

    <p>Der Websitebetreiber behält sich vor, die Inhalte dieser Website jederzeit ohne Ankündigung zu ändern oder zu entfernen. Eine Gewähr für die ständige Verfügbarkeit der Website oder Dienste kann nicht übernommen werden. Soweit auf dieser Website Verlinkungen zu Websites Dritter führen, so übernimmt der Websitebetreiber für diese Websites keine Verantwortung.</p>

    <p>Die Nutzung dieser Website ist im Übrigen nur unter Einhaltung der geltenden Gesetze zulässig.</p>
  </span>
</div>
