<div class="container">
  <span class="content">
    <h2 class="title">Impressum</h2>

    <p>Angaben gemäß § 5 TMG</p>

    <ul>
      <li>Maurice de Felice</li>
      <li>86153 Augsburg, Wolfsgäßchen 5, Deutschland</li>
    </ul>

    <p><strong>Kontakt:</strong></p>
    <ul>
      <li>E-Mail: <a class="title"
                     href="mailto:maurice-defelice@live.de">maurice-defelice&#64;live.de</a></li>
    </ul>

    <p><strong>Streitschlichtung</strong></p>
    <p>Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: <a class="title"
                                                                                                   href="https://ec.europa.eu/consumers/odr/"
                                                                                                   target="_blank">https://ec.europa.eu/consumers/odr/</a>. Unsere E-Mail-Adresse finden Sie oben im Impressum.</p>

    <p>Wir sind nicht verpflichtet, an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.</p>
      </span>
</div>
