<div class="container">
  @if (data$ | async; as d) {
    <div class="content">
      <div class="jobContent">
        @for (opt of d; track opt.id) {
          <div class="jobItem">
            <mat-chip class="yearChip">{{ opt.dateto | date : "YYYY" }}</mat-chip>
            <div class="timeMarkWrapper">
              <div class="timeMark"></div>
            </div>
            <div class="description">
              <h4>{{ opt.company }}</h4>
              <span class="subtitle">{{ opt.job }}</span>
              <span style="opacity: .5">{{ opt.description }}</span>
            </div>
          </div>
        }
      </div>
    </div>

  } @else {
    <mat-progress-spinner mode="indeterminate"/>
  }
</div>
